CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_ADMIN_PASSWORD=
NEXT_PUBLIC_ADDRESS1=
NEXT_PUBLIC_ADDRESS2=
NEXT_PUBLIC_EMAIL=
NEXT_PUBLIC_PHONE=
NEXT_PUBLIC_WHATSAPP=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=